.base00-background { background-color: #1d1f21; }
.base01-background { background-color: #282a2e; }
.base02-background { background-color: #373b41; }
.base03-background { background-color: #969896; }
.base04-background { background-color: #b4b7b4; }
.base05-background { background-color: #c5c8c6; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #cc6666; }
.base09-background { background-color: #de935f; }
.base0A-background { background-color: #f0c674; }
.base0B-background { background-color: #b5bd68; }
.base0C-background { background-color: #8abeb7; }
.base0D-background { background-color: #81a2be; }
.base0E-background { background-color: #b294bb; }
.base0F-background { background-color: #a3685a; }

.base00 { color: #1d1f21; }
.base01 { color: #282a2e; }
.base02 { color: #373b41; }
.base03 { color: #969896; }
.base04 { color: #b4b7b4; }
.base05 { color: #c5c8c6; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #cc6666; }
.base09 { color: #de935f; }
.base0A { color: #f0c674; }
.base0B { color: #b5bd68; }
.base0C { color: #8abeb7; }
.base0D { color: #81a2be; }
.base0E { color: #b294bb; }
.base0F { color: #a3685a; }
