.base00-background { background-color: #000000; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #505050; }
.base04-background { background-color: #b0b0b0; }
.base05-background { background-color: #d0d0d0; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #eb008a; }
.base09-background { background-color: #f29333; }
.base0A-background { background-color: #f8ca12; }
.base0B-background { background-color: #37b349; }
.base0C-background { background-color: #00aabb; }
.base0D-background { background-color: #0e5a94; }
.base0E-background { background-color: #b31e8d; }
.base0F-background { background-color: #7a2d00; }

.base00 { color: #000000; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #eb008a; }
.base09 { color: #f29333; }
.base0A { color: #f8ca12; }
.base0B { color: #37b349; }
.base0C { color: #00aabb; }
.base0D { color: #0e5a94; }
.base0E { color: #b31e8d; }
.base0F { color: #7a2d00; }