.base00-background { background-color: #151515; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #505050; }
.base04-background { background-color: #b0b0b0; }
.base05-background { background-color: #d0d0d0; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #f5f5f5; }
.base08-background { background-color: #ac4142; }
.base09-background { background-color: #d28445; }
.base0A-background { background-color: #f4bf75; }
.base0B-background { background-color: #90a959; }
.base0C-background { background-color: #75b5aa; }
.base0D-background { background-color: #6a9fb5; }
.base0E-background { background-color: #aa759f; }
.base0F-background { background-color: #8f5536; }

.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #f5f5f5; }
.base08 { color: #ac4142; }
.base09 { color: #d28445; }
.base0A { color: #f4bf75; }
.base0B { color: #90a959; }
.base0C { color: #75b5aa; }
.base0D { color: #6a9fb5; }
.base0E { color: #aa759f; }
.base0F { color: #8f5536; }
