.base00-background { background-color: #000000; }
.base01-background { background-color: #303030; }
.base02-background { background-color: #505050; }
.base03-background { background-color: #b0b0b0; }
.base04-background { background-color: #d0d0d0; }
.base05-background { background-color: #e0e0e0; }
.base06-background { background-color: #f5f5f5; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #fb0120; }
.base09-background { background-color: #fc6d24; }
.base0A-background { background-color: #fda331; }
.base0B-background { background-color: #a1c659; }
.base0C-background { background-color: #76c7b7; }
.base0D-background { background-color: #6fb3d2; }
.base0E-background { background-color: #d381c3; }
.base0F-background { background-color: #be643c; }

.base00 { color: #000000; }
.base01 { color: #303030; }
.base02 { color: #505050; }
.base03 { color: #b0b0b0; }
.base04 { color: #d0d0d0; }
.base05 { color: #e0e0e0; }
.base06 { color: #f5f5f5; }
.base07 { color: #ffffff; }
.base08 { color: #fb0120; }
.base09 { color: #fc6d24; }
.base0A { color: #fda331; }
.base0B { color: #a1c659; }
.base0C { color: #76c7b7; }
.base0D { color: #6fb3d2; }
.base0E { color: #d381c3; }
.base0F { color: #be643c; }