.base00-background { background-color: #2C3E50; }
.base01-background { background-color: #34495E; }
.base02-background { background-color: #7F8C8D; }
.base03-background { background-color: #95A5A6; }
.base04-background { background-color: #BDC3C7; }
.base05-background { background-color: #e0e0e0; }
.base06-background { background-color: #f5f5f5; }
.base07-background { background-color: #ECF0F1; }
.base08-background { background-color: #E74C3C; }
.base09-background { background-color: #E67E22; }
.base0A-background { background-color: #F1C40F; }
.base0B-background { background-color: #2ECC71; }
.base0C-background { background-color: #1ABC9C; }
.base0D-background { background-color: #3498DB; }
.base0E-background { background-color: #9B59B6; }
.base0F-background { background-color: #be643c; }

.base00 { color: #2C3E50; }
.base01 { color: #34495E; }
.base02 { color: #7F8C8D; }
.base03 { color: #95A5A6; }
.base04 { color: #BDC3C7; }
.base05 { color: #e0e0e0; }
.base06 { color: #f5f5f5; }
.base07 { color: #ECF0F1; }
.base08 { color: #E74C3C; }
.base09 { color: #E67E22; }
.base0A { color: #F1C40F; }
.base0B { color: #2ECC71; }
.base0C { color: #1ABC9C; }
.base0D { color: #3498DB; }
.base0E { color: #9B59B6; }
.base0F { color: #be643c; }