.base00-background { background-color: #231f20; }
.base01-background { background-color: #1c3f95; }
.base02-background { background-color: #5a5758; }
.base03-background { background-color: #737171; }
.base04-background { background-color: #959ca1; }
.base05-background { background-color: #d9d8d8; }
.base06-background { background-color: #e7e7e8; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ee2e24; }
.base09-background { background-color: #f386a1; }
.base0A-background { background-color: #ffd204; }
.base0B-background { background-color: #00853e; }
.base0C-background { background-color: #85cebc; }
.base0D-background { background-color: #009ddc; }
.base0E-background { background-color: #98005d; }
.base0F-background { background-color: #b06110; }

.base00 { color: #231f20; }
.base01 { color: #1c3f95; }
.base02 { color: #5a5758; }
.base03 { color: #737171; }
.base04 { color: #959ca1; }
.base05 { color: #d9d8d8; }
.base06 { color: #e7e7e8; }
.base07 { color: #ffffff; }
.base08 { color: #ee2e24; }
.base09 { color: #f386a1; }
.base0A { color: #ffd204; }
.base0B { color: #00853e; }
.base0C { color: #85cebc; }
.base0D { color: #009ddc; }
.base0E { color: #98005d; }
.base0F { color: #b06110; }