.base00-background { background-color: #272822; }
.base01-background { background-color: #383830; }
.base02-background { background-color: #49483e; }
.base03-background { background-color: #75715e; }
.base04-background { background-color: #a59f85; }
.base05-background { background-color: #f8f8f2; }
.base06-background { background-color: #f5f4f1; }
.base07-background { background-color: #f9f8f5; }
.base08-background { background-color: #f92672; }
.base09-background { background-color: #fd971f; }
.base0A-background { background-color: #f4bf75; }
.base0B-background { background-color: #a6e22e; }
.base0C-background { background-color: #a1efe4; }
.base0D-background { background-color: #66d9ef; }
.base0E-background { background-color: #ae81ff; }
.base0F-background { background-color: #cc6633; }

.base00 { color: #272822; }
.base01 { color: #383830; }
.base02 { color: #49483e; }
.base03 { color: #75715e; }
.base04 { color: #a59f85; }
.base05 { color: #f8f8f2; }
.base06 { color: #f5f4f1; }
.base07 { color: #f9f8f5; }
.base08 { color: #f92672; }
.base09 { color: #fd971f; }
.base0A { color: #f4bf75; }
.base0B { color: #a6e22e; }
.base0C { color: #a1efe4; }
.base0D { color: #66d9ef; }
.base0E { color: #ae81ff; }
.base0F { color: #cc6633; }
