.base00-background { background-color: #2f1e2e; }
.base01-background { background-color: #41323f; }
.base02-background { background-color: #4f424c; }
.base03-background { background-color: #776e71; }
.base04-background { background-color: #8d8687; }
.base05-background { background-color: #a39e9b; }
.base06-background { background-color: #b9b6b0; }
.base07-background { background-color: #e7e9db; }
.base08-background { background-color: #ef6155; }
.base09-background { background-color: #f99b15; }
.base0A-background { background-color: #fec418; }
.base0B-background { background-color: #48b685; }
.base0C-background { background-color: #5bc4bf; }
.base0D-background { background-color: #06b6ef; }
.base0E-background { background-color: #815ba4; }
.base0F-background { background-color: #e96ba8; }

.base00 { color: #2f1e2e; }
.base01 { color: #41323f; }
.base02 { color: #4f424c; }
.base03 { color: #776e71; }
.base04 { color: #8d8687; }
.base05 { color: #a39e9b; }
.base06 { color: #b9b6b0; }
.base07 { color: #e7e9db; }
.base08 { color: #ef6155; }
.base09 { color: #f99b15; }
.base0A { color: #fec418; }
.base0B { color: #48b685; }
.base0C { color: #5bc4bf; }
.base0D { color: #06b6ef; }
.base0E { color: #815ba4; }
.base0F { color: #e96ba8; }