pre[class*="language-"] {
    background: #181818;
    color: #d8d8d8
}
pre:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left 0;
    height: 30px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}
pre:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 30px;
    background: linear-gradient(to top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
    z-index: 100;
}
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b8b8b8
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b8b8b8
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #585858
}

.token.punctuation {
    color: #d8d8d8
}

.token.namespace {
    opacity: .7
}

.token.operator, .token.boolean, .token.number {
    color: #dc9656
}

.token.property {
    color: #f7ca88
}

.token.tag {
    color: #7cafc2
}

.token.string {
    color: #86c1b9
}

.token.selector {
    color: #ba8baf
}

.token.attr-name {
    color: #dc9656
}

.token.entity, .token.url, .language-css .token.string, .style .token.string {
    color: #86c1b9
}

.token.attr-value, .token.keyword, .token.control, .token.directive,
.token.unit {
    color: #a1b56c
}

.token.statement, .token.regex, .token.atrule {
    color: #86c1b9
}

.token.placeholder, .token.variable {
    color: #7cafc2
}

.token.deleted {
    text-decoration: line-through
}

.token.inserted {
    border-bottom: 1px dotted #f8f8f8;
    text-decoration: none
}

.token.italic {
    font-style: italic
}

.token.important, .token.bold {
    font-weight: bold
}

.token.important {
    color: #ab4642
}

.token.entity {
    cursor: help
}

pre>code.highlight {
    outline: 0.4em solid #ab4642;
    outline-offset: .4em
}


