.base00-background { background-color: #1e1e1e; }
.base01-background { background-color: #323537; }
.base02-background { background-color: #464b50; }
.base03-background { background-color: #5f5a60; }
.base04-background { background-color: #838184; }
.base05-background { background-color: #a7a7a7; }
.base06-background { background-color: #c3c3c3; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #cf6a4c; }
.base09-background { background-color: #cda869; }
.base0A-background { background-color: #f9ee98; }
.base0B-background { background-color: #8f9d6a; }
.base0C-background { background-color: #afc4db; }
.base0D-background { background-color: #7587a6; }
.base0E-background { background-color: #9b859d; }
.base0F-background { background-color: #9b703f; }

.base00 { color: #1e1e1e; }
.base01 { color: #323537; }
.base02 { color: #464b50; }
.base03 { color: #5f5a60; }
.base04 { color: #838184; }
.base05 { color: #a7a7a7; }
.base06 { color: #c3c3c3; }
.base07 { color: #ffffff; }
.base08 { color: #cf6a4c; }
.base09 { color: #cda869; }
.base0A { color: #f9ee98; }
.base0B { color: #8f9d6a; }
.base0C { color: #afc4db; }
.base0D { color: #7587a6; }
.base0E { color: #9b859d; }
.base0F { color: #9b703f; }