.base00-background { background-color: #2b303b; }
.base01-background { background-color: #343d46; }
.base02-background { background-color: #4f5b66; }
.base03-background { background-color: #65737e; }
.base04-background { background-color: #a7adba; }
.base05-background { background-color: #c0c5ce; }
.base06-background { background-color: #dfe1e8; }
.base07-background { background-color: #eff1f5; }
.base08-background { background-color: #bf616a; }
.base09-background { background-color: #d08770; }
.base0A-background { background-color: #ebcb8b; }
.base0B-background { background-color: #a3be8c; }
.base0C-background { background-color: #96b5b4; }
.base0D-background { background-color: #8fa1b3; }
.base0E-background { background-color: #b48ead; }
.base0F-background { background-color: #ab7967; }

.base00 { color: #2b303b; }
.base01 { color: #343d46; }
.base02 { color: #4f5b66; }
.base03 { color: #65737e; }
.base04 { color: #a7adba; }
.base05 { color: #c0c5ce; }
.base06 { color: #dfe1e8; }
.base07 { color: #eff1f5; }
.base08 { color: #bf616a; }
.base09 { color: #d08770; }
.base0A { color: #ebcb8b; }
.base0B { color: #a3be8c; }
.base0C { color: #96b5b4; }
.base0D { color: #8fa1b3; }
.base0E { color: #b48ead; }
.base0F { color: #ab7967; }
