.base00-background { background-color: #3B3228; }
.base01-background { background-color: #534636; }
.base02-background { background-color: #645240; }
.base03-background { background-color: #7e705a; }
.base04-background { background-color: #b8afad; }
.base05-background { background-color: #d0c8c6; }
.base06-background { background-color: #e9e1dd; }
.base07-background { background-color: #f5eeeb; }
.base08-background { background-color: #cb6077; }
.base09-background { background-color: #d28b71; }
.base0A-background { background-color: #f4bc87; }
.base0B-background { background-color: #beb55b; }
.base0C-background { background-color: #7bbda4; }
.base0D-background { background-color: #8ab3b5; }
.base0E-background { background-color: #a89bb9; }
.base0F-background { background-color: #bb9584; }

.base00 { color: #3B3228; }
.base01 { color: #534636; }
.base02 { color: #645240; }
.base03 { color: #7e705a; }
.base04 { color: #b8afad; }
.base05 { color: #d0c8c6; }
.base06 { color: #e9e1dd; }
.base07 { color: #f5eeeb; }
.base08 { color: #cb6077; }
.base09 { color: #d28b71; }
.base0A { color: #f4bc87; }
.base0B { color: #beb55b; }
.base0C { color: #7bbda4; }
.base0D { color: #8ab3b5; }
.base0E { color: #a89bb9; }
.base0F { color: #bb9584; }
