.base00-background { background-color: #2b2b2b; }
.base01-background { background-color: #272935; }
.base02-background { background-color: #3a4055; }
.base03-background { background-color: #5a647e; }
.base04-background { background-color: #d4cfc9; }
.base05-background { background-color: #e6e1dc; }
.base06-background { background-color: #f4f1ed; }
.base07-background { background-color: #f9f7f3; }
.base08-background { background-color: #da4939; }
.base09-background { background-color: #cc7833; }
.base0A-background { background-color: #ffc66d; }
.base0B-background { background-color: #a5c261; }
.base0C-background { background-color: #519f50; }
.base0D-background { background-color: #6d9cbe; }
.base0E-background { background-color: #b6b3eb; }
.base0F-background { background-color: #bc9458; }

.base00 { color: #2b2b2b; }
.base01 { color: #272935; }
.base02 { color: #3a4055; }
.base03 { color: #5a647e; }
.base04 { color: #d4cfc9; }
.base05 { color: #e6e1dc; }
.base06 { color: #f4f1ed; }
.base07 { color: #f9f7f3; }
.base08 { color: #da4939; }
.base09 { color: #cc7833; }
.base0A { color: #ffc66d; }
.base0B { color: #a5c261; }
.base0C { color: #519f50; }
.base0D { color: #6d9cbe; }
.base0E { color: #b6b3eb; }
.base0F { color: #bc9458; }
