.base00-background { background-color: #28211c; }
.base01-background { background-color: #36312e; }
.base02-background { background-color: #5e5d5c; }
.base03-background { background-color: #666666; }
.base04-background { background-color: #797977; }
.base05-background { background-color: #8a8986; }
.base06-background { background-color: #9d9b97; }
.base07-background { background-color: #baae9e; }
.base08-background { background-color: #cf6a4c; }
.base09-background { background-color: #cf7d34; }
.base0A-background { background-color: #f9ee98; }
.base0B-background { background-color: #54be0d; }
.base0C-background { background-color: #afc4db; }
.base0D-background { background-color: #5ea6ea; }
.base0E-background { background-color: #9b859d; }
.base0F-background { background-color: #937121; }

.base00 { color: #28211c; }
.base01 { color: #36312e; }
.base02 { color: #5e5d5c; }
.base03 { color: #666666; }
.base04 { color: #797977; }
.base05 { color: #8a8986; }
.base06 { color: #9d9b97; }
.base07 { color: #baae9e; }
.base08 { color: #cf6a4c; }
.base09 { color: #cf7d34; }
.base0A { color: #f9ee98; }
.base0B { color: #54be0d; }
.base0C { color: #afc4db; }
.base0D { color: #5ea6ea; }
.base0E { color: #9b859d; }
.base0F { color: #937121; }