.base00-background { background-color: #151515; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #505050; }
.base04-background { background-color: #b0b0b0; }
.base05-background { background-color: #d0d0d0; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #f5f5f5; }
.base08-background { background-color: #fb9fb1; }
.base09-background { background-color: #eda987; }
.base0A-background { background-color: #ddb26f; }
.base0B-background { background-color: #acc267; }
.base0C-background { background-color: #12cfc0; }
.base0D-background { background-color: #6fc2ef; }
.base0E-background { background-color: #e1a3ee; }
.base0F-background { background-color: #deaf8f; }

.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #b0b0b0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #f5f5f5; }
.base08 { color: #fb9fb1; }
.base09 { color: #eda987; }
.base0A { color: #ddb26f; }
.base0B { color: #acc267; }
.base0C { color: #12cfc0; }
.base0D { color: #6fc2ef; }
.base0E { color: #e1a3ee; }
.base0F { color: #deaf8f; }
