.base00-background { background-color: #000000; }
.base01-background { background-color: #404040; }
.base02-background { background-color: #606060; }
.base03-background { background-color: #808080; }
.base04-background { background-color: #c0c0c0; }
.base05-background { background-color: #d0d0d0; }
.base06-background { background-color: #e0e0e0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #ff0000; }
.base09-background { background-color: #ff9900; }
.base0A-background { background-color: #ff0099; }
.base0B-background { background-color: #33ff00; }
.base0C-background { background-color: #00ffff; }
.base0D-background { background-color: #0066ff; }
.base0E-background { background-color: #cc00ff; }
.base0F-background { background-color: #3300ff; }

.base00 { color: #000000; }
.base01 { color: #404040; }
.base02 { color: #606060; }
.base03 { color: #808080; }
.base04 { color: #c0c0c0; }
.base05 { color: #d0d0d0; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #ff0000; }
.base09 { color: #ff9900; }
.base0A { color: #ff0099; }
.base0B { color: #33ff00; }
.base0C { color: #00ffff; }
.base0D { color: #0066ff; }
.base0E { color: #cc00ff; }
.base0F { color: #3300ff; }