.base00-background { background-color: #201602; }
.base01-background { background-color: #302e00; }
.base02-background { background-color: #5f5b17; }
.base03-background { background-color: #6c6823; }
.base04-background { background-color: #86813b; }
.base05-background { background-color: #948e48; }
.base06-background { background-color: #ccc37a; }
.base07-background { background-color: #faf0a5; }
.base08-background { background-color: #c35359; }
.base09-background { background-color: #b36144; }
.base0A-background { background-color: #a88339; }
.base0B-background { background-color: #18974e; }
.base0C-background { background-color: #75a738; }
.base0D-background { background-color: #477ca1; }
.base0E-background { background-color: #8868b3; }
.base0F-background { background-color: #b3588e; }

.base00 { color: #201602; }
.base01 { color: #302e00; }
.base02 { color: #5f5b17; }
.base03 { color: #6c6823; }
.base04 { color: #86813b; }
.base05 { color: #948e48; }
.base06 { color: #ccc37a; }
.base07 { color: #faf0a5; }
.base08 { color: #c35359; }
.base09 { color: #b36144; }
.base0A { color: #a88339; }
.base0B { color: #18974e; }
.base0C { color: #75a738; }
.base0D { color: #477ca1; }
.base0E { color: #8868b3; }
.base0F { color: #b3588e; }