/*

Name:       Base16 Ocean Dark
Author:     Chris Kempson (http://chriskempson.com)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  word-spacing: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background: #2b303b;
  color: #c0c5ce;
}

/* Code blocks */
.dark pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
.dark :not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #65737e;
}

.dark .token.punctuation {
  color: #c0c5ce;
}

.dark .namespace {
  opacity: .7;
}

.dark .token.null,
.dark .token.operator,
.dark .token.boolean,
.dark .token.number {
  color: #d08770;
}
.dark .token.property {
  color: #ebcb8b;
}
.dark .token.tag {
  color: #8fa1b3;
}
.dark .token.string {
  color: #96b5b4;
}
.dark .token.selector {
  color: #b48ead;
}
.dark .token.attr-name {
  color: #d08770;
}
.dark .token.entity,
.dark .token.url,
.dark .language-css .token.string,
.dark .style .token.string {
  color: #96b5b4;
}

.dark .token.attr-value,
.dark .token.keyword,
.dark .token.control,
.dark .token.directive,
.dark .token.unit {
  color: #a3be8c;
}

.dark .token.statement,
.dark .token.regex,
.dark .token.atrule {
  color: #96b5b4;
}

.dark .token.placeholder,
.dark .token.variable {
  color: #8fa1b3;
}

.dark .token.important {
  color: #bf616a;
}

.dark .token.entity {
  cursor: help;
}

.dark pre > code.highlight {
  outline: .4em solid red;
  outline-offset: .4em;
}

.dark pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: #c0c5ce;
  background-color: rgba(167, 173, 186, 0.2);
}

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: #4f5b66;
  background-color: rgba(167, 173, 186, 0.2);
}

code[class*="language-"],
pre[class*="language-"] {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background: #eff1f5;
  color: #4f5b66;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #a7adba;
}

.token.punctuation {
  color: #4f5b66;
}

.namespace {
  opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #d08770;
}
.token.property {
  color: #ebcb8b;
}
.token.tag {
  color: #8fa1b3;
}
.token.string {
  color: #96b5b4;
}
.token.selector {
  color: #b48ead;
}
.token.attr-name {
  color: #d08770;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #96b5b4;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #a3be8c;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #96b5b4;
}

.token.placeholder,
.token.variable {
  color: #8fa1b3;
}

.token.important {
  color: #bf616a;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid red;
  outline-offset: .4em;
}
