/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+python+ruby+swift&plugins=line-numbers+show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  position: relative;
}

pre[class*='language-'] > code[data-language] {
  overflow: auto;
  display: block;
}

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 14px 0 5px;
  padding: 0.4em 0.8em 0.2em 0.7em;
}

pre[class*='language-'] > code[data-language]::after {
  content: attr(data-font);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px 0 5px 0;
  padding: 0.4em 0.8em 0.2em 0.7em;
}
