pre[class*="language-"] {
    background: #fdf6e3;
    color: #586e75
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
    text-shadow: none;
    background: #eee8d5
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
    text-shadow: none;
    background: #eee8d5
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #839496
}

.token.punctuation {
    color: #586e75
}

.token.namespace {
    opacity: .7
}

.token.operator,
.token.boolean,
.token.number {
    color: #cb4b16
}

.token.property {
    color: #b58900
}

.token.tag {
    color: #268bd2
}

.token.string {
    color: #2aa198
}

.token.selector {
    color: #6c71c4
}

.token.attr-name {
    color: #cb4b16
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #2aa198
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #859900
}

.token.statement,
.token.regex,
.token.atrule {
    color: #2aa198
}

.token.placeholder,
.token.variable {
    color: #268bd2
}

.token.deleted {
    text-decoration: line-through
}

.token.inserted {
    border-bottom: 1px dotted #002b36;
    text-decoration: none
}

.token.italic {
    font-style: italic
}

.token.important,
.token.bold {
    font-weight: bold
}

.token.important {
    color: #dc322f
}

.token.entity {
    cursor: help
}

pre>code.highlight {
    outline: 0.4em solid #dc322f;
    outline-offset: .4em
}
