/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
}

p {
  margin-bottom: 2em;
}

ol,
ul {
  list-style: none;
}

@font-face {
  font-family: 'mono16regular';
  src: url('Mono16.woff2') format('woff2'), url('Mono16.woff') format('woff'), url('Mono16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mono16condensed';
  src: url('Mono16-Condensed.woff2') format('woff2'), url('Mono16-Condensed.woff') format('woff'), url('Mono16-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mono16semicondensed';
  src: url('Mono16-SemiCondensed.woff2') format('woff2'), url('Mono16-SemiCondensed.woff') format('woff'), url('Mono16-SemiCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 120px auto;
  padding: 0 20px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: "mono16semicondensed", monospace;
}

body {
  max-width: 520px;
}

.block {
  display: inline-block;
  padding: 15px;
  margin: 0 5px 10px 0;
}

* {
  box-sizing: border-box;
}

pre {
  font-size: 16px;
  padding: 25px 20px 10px;
  display: inline-block;
  width: 100%;
  outline: none;
}

pre.base02 {
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.16);
}

.condensed {
  font-family: 'mono16condensed';
}

.semi {
  font-family: 'mono16semicondensed';
}

.normal {
  font-family: 'mono16';
}

.normal:focus span,
.condensed:focus span,
.normal:focus,
.condensed:focus {
  color: white;
}

.semi:focus,
.semi:focus span {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.blabla,
pre {
  margin-bottom: 80px;
}

#scheme-select {
  padding: 20px 20px 16px 20px;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 99;
  min-width: 100px;
  min-height: 56px;
}

.colors {
  opacity: 0;
  position: relative;
  height: 0px;
  width: 0px;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out, opacity 0.15s ease-in-out 0.25s;
  transition: 0.3s ease-in-out, opacity 0.15s ease-in-out 0.25s;
}

#scheme-select:hover .colors,
#scheme-select.active .colors {
  height: 222px;
  width: 391px;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.current-scheme {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
  position: absolute;
}

#scheme-select:hover .current-scheme,
#scheme-select.active .current-scheme {
  visibility: hidden;
  opacity: 0;
}

.scheme-list {
  float: left;
  list-style: none;
  margin-right: 20px;
}

.scheme-list.last {
  margin-right: 0px;
}

.scheme-list li {
  margin: 2px 0;
}

@media all and (max-width: 560px) {
  .prewrap {
    overflow: hidden;
  }
  pre.base02 {
    box-shadow: none;
  }
  #scheme-select {
    display: none;
  }
}
